# Archivos temporales de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Entornos virtuales
.venv/
venv/
ENV/

# Variables de entorno (¡Seguridad!)
.env
.env.prod

# Configuraciones de editores
.vscode/
.idea/